
#login{
    background-color: rgb(124, 238, 242); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 30px 30px 30px 30px;
    font-size:20px;
    height: 400px;
    width: 400px;
  }

  #login:hover{
    box-shadow: 30px 30px 40px 40px rgb(70, 46, 54);
  }